In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [2]:
stock = {}
title_list = []
start_price_list = []
total_price_list = []
total_stocks_list = []
foreign_rate_list = []
volume_list = []
per_list = []
pbr_list = []

In [3]:
def list_append(value, list_name):
    if value != "N/A":
        list_name.append(value)
    else: 
        list_name.append('Null')

In [4]:
for i in range(30):
    url = "https://finance.naver.com/sise/sise_market_sum.nhn?&page={}".format(i+1)
    res = requests.get(url)
    obj = BeautifulSoup(res.content, "html.parser")
    
    temp_obj = obj.find('div', {'class':'box_type_l'})
    temp_obj = temp_obj.find('tbody')
    final_obj = temp_obj.find_all('tr', {'onmouseover':'mouseOver(this)'})
    
    for i in range(len(final_obj)):
        title = final_obj[i].find_all('td')[1].text
        start_price = final_obj[i].find_all('td')[5].text.replace(",","")
        total_price = final_obj[i].find_all('td')[6].text.replace(",","")
        total_stocks = final_obj[i].find_all('td')[7].text.replace(",","")
        foreign_rate = final_obj[i].find_all('td')[8].text
        volume = final_obj[i].find_all('td')[9].text.replace(",","")
        per = final_obj[i].find_all('td')[10].text
        pbr = final_obj[i].find_all('td')[11].text

        list_append(title, title_list)
        list_append(start_price, start_price_list)
        list_append(total_price, total_price_list)
        list_append(total_stocks, total_stocks_list)
        list_append(foreign_rate, foreign_rate_list)
        list_append(volume, volume_list)
        list_append(per, per_list)
        list_append(pbr, pbr_list)

In [5]:
df = pd.DataFrame(list(zip(title_list, 
                           start_price_list, 
                           total_price_list, 
                           total_stocks_list,
                           foreign_rate_list,
                           volume_list,
                           per_list,
                           pbr_list)),
                 columns=['title', 
                          'start_price', 
                          'total_price', 
                          'total_stocks', 
                          'foreign_rate', 
                          'volume', 
                          'per', 
                          'pbr'])

In [6]:
df = df[df['pbr'] != 'Null']

In [7]:
# df.sort_values(by=['pbr'], ascending=False)

In [8]:
df[df['title']=='삼성전자']

,title,start_price,total_price,total_stocks,foreign_rate,volume,per,pbr
0,삼성전자,100,2978921,5969783,55.06,28213830,15.92,8.69

In [7]:
df

,title,start_price,total_price,total_stocks,foreign_rate,volume,per,pbr
0,삼성전자,100,3116226,5969783,55.03,26567820,16.66,8.69
1,SK하이닉스,5000,631906,728002,48.16,4145629,40.54,4.25
2,삼성바이오로직스,2500,545200,66165,10.87,275840,196.10,4.77
3,NAVER,100,412301,164263,56.52,1354633,64.81,10.56
4,셀트리온,1000,390650,134939,21.16,1634894,115.16,11.19
6,LG화학,5000,346961,70592,37.14,1307901,274.89,1.84
7,삼성SDI,5000,264400,68765,41.84,1036520,91.18,2.94
8,카카오,500,230055,87473,32.99,1156353,-88.79,-5.81
9,삼성물산,100,228002,186887,14.18,1363870,20.78,4.77
10,SK,200,223746,70360,21.57,1491071,324.82,4.31
11,현대차,5000,214737,213668,34.05,1319963,10.65,4.32
12,LG생활건강,5000,201162,15618,43.72,39780,29.06,20.32
13,엔씨소프트,500,190122,21954,52.11,107511,39.65,14.72
14,현대모비스,5000,180604,95055,45.77,315469,8.41,7.28
15,SK텔레콤,500,167144,80746,36.01,341196,20.38,3.92
16,POSCO,5000,163039,87187,50.79,359809,10.95,4.18
17,신한지주,5000,147993,477397,63.22,3655798,4.46,9.09
18,KB금융,5000,145533,415808,64.51,3820792,4.57,8.92
19,삼성에스디에스,500,139667,77378,12.32,149702,24.65,11.76
20,LG,5000,136493,172557,34.71,838466,11.40,5.87
21,기아차,5000,134783,405363,38.84,1713707,9.34,6.50
22,한국전력,5000,130640,641964,20.81,2566250,-8.51,-3.42
23,SK이노베이션,5000,116507,92466,24.33,2396852,-6.60,-0.20
24,KT&G;,5000,112992,137292,43.47,414585,10.70,12.39
25,LG전자,5000,111608,163648,31.45,1570434,25.38,0.22
26,삼성전기,5000,98222,74694,32.25,762753,19.75,10.18
27,아모레퍼시픽,500,94410,58458,29.68,544213,59.62,5.36
28,삼성생명,500,93000,200000,12.30,422368,12.24,3.26
29,삼성화재,500,90486,47375,47.75,138979,16.37,4.85
30,하나금융지주,5000,84818,300242,64.65,1828236,3.39,8.77
...,...,...,...,...,...,...,...,...
989,덕양산업,500,316,32565,2.04,66085,-2.06,-26.33
990,진도,500,316,12448,1.11,852706,-26.41,-2.67
1000,경인전자,5000,304,1571,13.33,1218,30.33,0.45
1003,흥아해운,500,301,116733,23.23,0,-0.52,-98.70
1004,이스타코,500,298,42852,1.39,207693,2.47,25.52
1005,하이골드12호,5000,296,13044,0.00,14260,4.04,17.18
1007,키위미디어그룹,500,296,197285,0.63,0,-0.02,-272.63
1010,성문전자,500,294,19487,3.61,131630,-19.11,-6.57
1013,동일제강,500,290,15000,1.32,39791,40.21,0.85
1019,한솔PNS,500,280,20493,6.10,119815,9.10,7.94
1024,삼화전자,1000,275,10458,6.81,110617,-6.94,-23.62
1033,신화실업,5000,267,1215,0.00,13805,40.89,2.83
1034,한국전자홀딩스,500,264,46803,2.63,32225,-1.95,-11.06
1035,성안,500,263,56858,2.08,76775,-2.66,-16.49
1039,태원물산,500,258,7600,0.76,10664,73.91,1.67
1044,에이리츠,5000,253,3793,0.10,9733,2.79,25.42
1045,청호컴넷,5000,252,8576,8.86,21433,-0.17,-124.59
1049,씨아이테크,500,247,24071,0.53,118650,-3.75,-15.96
1081,세기상사,5000,224,408,0.14,13636,-19.94,-4.11
1087,하이골드3호,5000,220,16150,0.00,107,5.60,3.16
1091,전방,5000,216,1680,0.06,744,-0.59,-38.44
1103,모두투어리츠,5000,208,7827,0.01,994,7.79,6.36
1119,지코,500,198,64582,0.95,0,-1.54,-43.44
1122,일정실업,5000,197,1200,0.10,21125,-1.58,-37.57
1151,에이엔피,500,177,82785,0.27,230426,-5.94,-9.67
1166,하이트론,2500,162,5531,0.84,25708,-0.97,-69.31
1182,부산주공,500,152,42398,1.52,195083,-0.62,-52.37
1185,한국주강,500,151,11309,0.88,22419,-1.11,-35.06
1188,컨버즈,500,147,3591,0.99,0,-1.13,-548.06
1358,동북아12호,5000,80,1586,0.00,41,16.74,6.00