In [62]:
import pandas as pd

In [ ]:
# DataFrame 만들기
'''
1. 최종형태 Dict
 1) value에 해당되는 값을 List 형식으로 수집
 2) { key : List } 형태로 Dict를 구현
 3) List에 값을 넣을 때 누락될 여지가 있음
2. 최종형태 List 
 1) 내부 List : 이중리스트
 2) 내부 Dict : 순회시에 Dict 새로 갱신 필요 (List는 외부, Dict는 내부에서 선언)
 3) 내부 Dict 형태가 가독성이 좋음
'''

In [ ]:
# 데이터의 형태 -> 리스트 
# 최종 형태 -> Dict 를 DataFrame으로

In [46]:
date = [100, 200, 300]
name = ['sangho', 'jihyun', 'inho']
age = [32, 42, 11]

In [47]:
tempDict = {'date':date, 'name':name, 'age':age}

In [48]:
tempDict

{'date': [100, 200, 300],
 'name': ['sangho', 'jihyun', 'inho'],
 'age': [32, 42, 11]}

In [49]:
pd.DataFrame(tempDict, columns=['date', 'name', 'age'])

   date    name  age
0   100  sangho   32
1   200  jihyun   42
2   300    inho   11

In [ ]:
# 데이터의 형태 -> Dict
# 최종 형태 -> List 를 DataFrame으로

In [55]:
temp = {}
code = []

In [56]:
temp['date'] = 100
temp['name'] = 'sedo'
temp['age'] = 42
code.append(temp)

In [57]:
temp = {} # Dict를 새로 갱신 필요

In [58]:
temp['date'] = 200
temp['name'] = 'Areum'
temp['age'] = 33
code.append(temp)

In [59]:
code

[{'date': 1, 'name': 'ss', 'age': 5}, {'date': 4, 'name': 'abb', 'age': 23}]

In [61]:
pd.DataFrame(code, columns=['date', 'name', 'age'])

   date name  age
0     1   ss    5
1     4  abb   23