In [1]:
import pandas as pd

In [2]:
df1 = pd.read_excel('./2019.xlsx', sheet_name='연결재무재표')
df2 = pd.read_excel('./2019.xlsx', sheet_name='포괄손익계산서_연결')

In [3]:
df1.columns

Index(['재무제표종류', '종목코드', '회사명', '시장구분', '업종', '업종명', '결산월', '결산기준일', '보고서종류',
       '통화', '항목코드', '항목명', '당기', '전기', '전전기', 'Column1'],
      dtype='object')

In [4]:
df2.columns

Index(['재무제표종류', '종목코드', '회사명', '시장구분', '업종', '업종명', '결산월', '결산기준일', '보고서종류',
       '통화', '항목코드', '항목명', 'Column1', '당기', '_1', '_2', '전기', '전전기', '_3'],
      dtype='object')

In [5]:
df1_cols = ['회사명', '종목코드', '결산월', '항목명', '당기', '전기', '전전기']
df2_cols = ['회사명', '종목코드', '결산월', '항목명', '당기', '전기', '전전기']

In [6]:
df3 = df1[df1_cols]
df4 = df2[df2_cols]

In [7]:
df_ts = df4[df4['항목명']=='매출총이익']

In [8]:
df_tm = df3[df3['항목명']=='   자본총계']

In [ ]:
table1 = df3[df3['항목명']=='   부채총계']

In [ ]:
table2 = df3[df3['항목명']=='   자본총계']

In [ ]:
table3 = pd.merge(table1, table2, on='종목코드')

In [ ]:
table3.head()

In [ ]:
table3['부채비율']=table3['당기_x']/table3['당기_y']*100

In [ ]:
table3[table3['부채비율']<100]

In [ ]:
df_sales1 = df4[df4['항목명']=='영업이익']
df_sales2 = df4[df4['항목명']=='영업이익(손실)']
df_sales = df_sales1.append(df_sales2)

In [ ]:
df_sales = df_sales[(df_sales['당기']>df_sales['전기'])&(df_sales['전기']>df_sales['전전기'])]

In [ ]:
df_sales['항목명']="영업이익"

In [ ]:
df_sales

In [19]:
df_ts.head()

In [20]:
table2 = df3[df3['항목명']=='   자본총계']

In [24]:
table3 = pd.merge(table1, table2, on='종목코드')

In [25]:
table3.head()

,회사명_x,종목코드,결산월_x,항목명_x,당기_x,전기_x,전전기_x,회사명_y,결산월_y,항목명_y,당기_y,전기_y,전전기_y
0,3S,[060310],3,부채총계,1.895754e+10,1.876866e+10,2.452724e+10,3S,3,자본총계,3.437168e+10,3.075234e+10,2.917967e+10
1,AJ네트웍스,[095570],12,부채총계,1.455914e+12,2.083331e+12,1.907061e+12,AJ네트웍스,12,자본총계,3.473412e+11,4.918080e+11,4.471729e+11
2,AK홀딩스,[006840],12,부채총계,2.898026e+12,1.924034e+12,1.792720e+12,AK홀딩스,12,자본총계,1.429939e+12,1.473898e+12,1.152064e+12
3,APS홀딩스,[054620],12,부채총계,8.292250e+10,4.761427e+10,4.850679e+10,APS홀딩스,12,자본총계,2.147857e+11,2.355896e+11,1.832762e+11
4,AP시스템,[265520],12,부채총계,3.068430e+11,3.145718e+11,3.785414e+11,AP시스템,12,자본총계,1.141229e+11,1.064151e+11,8.948934e+10

In [29]:
table3['부채비율']=table3['당기_x']/table3['당기_y']*100

In [32]:
table3[table3['부채비율']<100]

,회사명_x,종목코드,결산월_x,항목명_x,당기_x,전기_x,전전기_x,회사명_y,결산월_y,항목명_y,당기_y,전기_y,전전기_y,부채비율
0,3S,[060310],3,부채총계,1.895754e+10,1.876866e+10,2.452724e+10,3S,3,자본총계,3.437168e+10,3.075234e+10,2.917967e+10,55.154527
3,APS홀딩스,[054620],12,부채총계,8.292250e+10,4.761427e+10,4.850679e+10,APS홀딩스,12,자본총계,2.147857e+11,2.355896e+11,1.832762e+11,38.607079
5,BGF,[027410],12,부채총계,1.291267e+11,9.266054e+10,1.328877e+11,BGF,12,자본총계,1.528255e+12,1.532214e+12,7.252309e+11,8.449294
7,BYC,[001460],12,부채총계,2.595554e+11,3.310278e+11,3.464850e+11,BYC,12,자본총계,4.343275e+11,4.074034e+11,3.993382e+11,59.760302
10,CJ ENM,[035760],12,부채총계,2.283014e+12,3.329300e+12,1.317714e+12,CJ ENM,12,자본총계,3.151893e+12,3.425648e+12,1.484104e+12,72.433098
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1648,휴온스글로벌,[084110],12,부채총계,1.603538e+11,1.342435e+11,1.191499e+11,휴온스글로벌,12,자본총계,5.817987e+11,5.386332e+11,4.909965e+11,27.561728
1649,휴젤,[145020],12,부채총계,1.504191e+11,1.334833e+11,1.030099e+11,휴젤,12,자본총계,7.442709e+11,7.847832e+11,7.179199e+11,20.210258
1650,휴켐스,[069260],12,부채총계,2.422166e+11,1.986721e+11,2.827643e+11,휴켐스,12,자본총계,6.716512e+11,6.660624e+11,5.988150e+11,36.062847
1651,흥국,[010240],12,부채총계,2.486927e+10,2.667879e+10,2.277970e+10,흥국,12,자본총계,6.748899e+10,6.165845e+10,5.525575e+10,36.849374
1652,흥국에프엔비,[189980],12,부채총계,2.523555e+10,2.211893e+10,1.281639e+10,흥국에프엔비,12,자본총계,6.406664e+10,5.973322e+10,5.741013e+10,39.389529

In [37]:
df_sales1 = df4[df4['항목명']=='영업이익']
df_sales2 = df4[df4['항목명']=='영업이익(손실)']
df_sales = df_sales1.append(df_sales2)

In [42]:
df_sales = df_sales[(df_sales['당기']>df_sales['전기'])&(df_sales['전기']>df_sales['전전기'])]

In [47]:
df_sales['항목명']="영업이익"

c:\users\nosangho\documents\github\stock\venv\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [48]:
df_sales

              회사명      종목코드   결산월   항목명           당기           전기          전전기
6              3S  [060310]     3  영업이익  1.66215e+09  3.33311e+08 -2.42122e+09
409       CJ프레시웨이  [051500]    12  영업이익  5.80754e+10  5.06592e+10  4.38799e+10
1010          GRT  [900290]     6  영업이익  4.65579e+08  3.79388e+08  3.52537e+08
2151        KSS해운  [044450]    12  영업이익  5.29347e+10  4.71105e+10  4.50746e+10
3161   SBI핀테크솔루션즈  [950110]     3  영업이익  1.40075e+09  9.66275e+08  5.46335e+08
...           ...       ...   ...   ...          ...          ...          ...
49662          혜인  [003010]    12  영업이익  1.18037e+10  6.17053e+09   2.5121e+09
49928          화신  [010690]    12  영업이익  1.94211e+09 -2.10873e+10 -2.28434e+10
50282       휠라홀딩스  [081660]    12  영업이익  4.70676e+11  3.57102e+11  2.17466e+11
50711      흥국에프엔비  [189980]    12  영업이익  5.81314e+09  4.25203e+09  2.87774e+09
항목명          영업이익      영업이익  영업이익  영업이익         영업이익         영업이익         영업이익

[323 rows x 7 columns]

In [9]:
df_ts.head()

        회사명      종목코드  결산월    항목명            당기            전기           전전기
2        3S  [060310]    3  매출총이익  5.313719e+09  3.299228e+09  2.111867e+09
62    AK홀딩스  [006840]   12  매출총이익  9.270618e+11  1.045615e+12  1.064279e+12
93   APS홀딩스  [054620]   12  매출총이익  8.465854e+09  1.256111e+10  1.312131e+10
133   AP시스템  [265520]   12  매출총이익  7.262204e+10  1.011713e+11  6.207611e+10
162     BGF  [027410]   12  매출총이익  1.304363e+11  1.200831e+11  7.919136e+10

In [10]:
df_tm.head()

        회사명      종목코드  결산월      항목명            당기            전기           전전기
44       3S  [060310]    3     자본총계  3.437168e+10  3.075234e+10  2.917967e+10
99   AJ네트웍스  [095570]   12     자본총계  3.473412e+11  4.918080e+11  4.471729e+11
158   AK홀딩스  [006840]   12     자본총계  1.429939e+12  1.473898e+12  1.152064e+12
222  APS홀딩스  [054620]   12     자본총계  2.147857e+11  2.355896e+11  1.832762e+11
270   AP시스템  [265520]   12     자본총계  1.141229e+11  1.064151e+11  8.948934e+10

In [11]:
result = pd.merge(df_ts, df_tm, on=['회사명'])

In [12]:
result.head()

,회사명,종목코드_x,결산월_x,항목명_x,당기_x,전기_x,전전기_x,종목코드_y,결산월_y,항목명_y,당기_y,전기_y,전전기_y
0,3S,[060310],3,매출총이익,5.313719e+09,3.299228e+09,2.111867e+09,[060310],3,자본총계,3.437168e+10,3.075234e+10,2.917967e+10
1,AK홀딩스,[006840],12,매출총이익,9.270618e+11,1.045615e+12,1.064279e+12,[006840],12,자본총계,1.429939e+12,1.473898e+12,1.152064e+12
2,APS홀딩스,[054620],12,매출총이익,8.465854e+09,1.256111e+10,1.312131e+10,[054620],12,자본총계,2.147857e+11,2.355896e+11,1.832762e+11
3,AP시스템,[265520],12,매출총이익,7.262204e+10,1.011713e+11,6.207611e+10,[265520],12,자본총계,1.141229e+11,1.064151e+11,8.948934e+10
4,BGF,[027410],12,매출총이익,1.304363e+11,1.200831e+11,7.919136e+10,[027410],12,자본총계,1.528255e+12,1.532214e+12,7.252309e+11

In [13]:
result['magic']=result['당기_x']/result['당기_y']

In [14]:
magic = result[['회사명', 'magic']]
magic = magic[magic['magic']>0]

In [16]:
magic.sort_values('magic', axis=0, ascending=False)[:20]

          회사명     magic
130    고려신용정보  5.164648
1039    지어소프트  4.128517
1344    형지I&C  2.683661
1195   페이퍼코리아  2.434573
312      디에스티  2.366537
259    더블유에프엠  2.216750
1343     현진소재  2.183556
1272    한국화장품  2.066539
306        디딤  1.865980
1117      코웨이  1.864565
801      예스24  1.774730
5      BGF리테일  1.696939
1105       코센  1.694631
11    CSA 코스믹  1.668749
208       뉴트리  1.652480
948      인디에프  1.639103
1284    한세엠케이  1.613429
963      인터파크  1.601323
385      모두투어  1.600001
575     소프트캠프  1.549599

In [ ]:
for i,j in zip(range(1),range(30)):
    print(i,j)