# 금융 데이터 전처리와 분석을 위한 판다스 사용법

In [1]:
import pandas as pd
import numpy as np

import FinanceDataReader as fdr
import pandas_datareader as pdr

In [2]:
df = pdr.get_data_yahoo('AAPL')
df.to_csv('AAPL.csv')

## 1. 데이터 불러오기

- read_csv options
1. index col : 인덱스로 설정할 컬럼명 설정
2. parse_dates : str타입의 'Date'컬럼값을 timestamp로 변환

In [3]:
df = pd.read_csv("AAPL.csv", index_col="Date", parse_dates=["Date"])

In [4]:
print(type(df.index[0]))

<class 'pandas._libs.tslibs.timestamps.Timestamp'>

## 2. 결측치와 이상치 다루기

- NaN 데이터를 확인하는 함수
1. isna()
2. isnull()
3. isin() : 매개변수로 전달(리스트로 전달)받은 인자가 특정 컬럼에 포함되어 있는지 True/False로 확인

In [5]:
df.isna().sum()

High         0
Low          0
Open         0
Close        0
Volume       0
Adj Close    0
dtype: int64

In [6]:
df.columns

Index(['High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close'], dtype='object')

In [7]:
df['High'].isna().sum()

0

In [8]:
df.isin([np.nan]).sum()

High         0
Low          0
Open         0
Close        0
Volume       0
Adj Close    0
dtype: int64

In [9]:
df.isnull().sum()

High         0
Low          0
Open         0
Close        0
Volume       0
Adj Close    0
dtype: int64

- 결측치 처리
1. fillna() : 데이터프레임의 NaN값을 다른값으로 채우는 함수 (method : pad, bfill)
2. dropna() : 결측치 발생 제거 (axis = 0이면 row, 1이면 column 제거)

In [10]:
# 결측치 데이터가 있는지 확인
df[df.isin([np.nan, np.inf, -np.inf]).any(1)] # any(1) 한개의 요소값이 True일 경우 해당 row를 표시

Empty DataFrame
Columns: [High, Low, Open, Close, Volume, Adj Close]
Index: []

## 3. 데이터 선택방법 - 슬라이싱, 인덱싱, 서브셋 데이터 추출

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1258 entries, 2017-09-27 to 2022-09-26
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   High       1258 non-null   float64
 1   Low        1258 non-null   float64
 2   Open       1258 non-null   float64
 3   Close      1258 non-null   float64
 4   Volume     1258 non-null   float64
 5   Adj Close  1258 non-null   float64
dtypes: float64(6)
memory usage: 68.8 KB

In [12]:
df["Open"].head()

Date
2017-09-27    38.450001
2017-09-28    38.472500
2017-09-29    38.302502
2017-10-02    38.564999
2017-10-03    38.502499
Name: Open, dtype: float64

### 컬럼 인덱싱  
   - 리스트 형식으로 전달해야 함  
   - 리스트 형식이 아닌 경우엔 ('Open', 'high') 튜플 컬럼을 검색함  
   - df["Open", "High"].head()으로 하면 에러 발생

In [13]:
df[["Open", "High"]].head()

                 Open       High
Date
2017-09-27  38.450001  38.680000
2017-09-28  38.472500  38.570000
2017-09-29  38.302502  38.532501
2017-10-02  38.564999  38.612499
2017-10-03  38.502499  38.772499

### 행단위 인덱싱 및 슬라이싱 : 그냥 하면 됨

In [14]:
df[0:3]

                 High        Low       Open      Close       Volume  Adj Close
Date
2017-09-27  38.680000  38.384998  38.450001  38.557499  102016800.0  36.593582
2017-09-28  38.570000  38.174999  38.472500  38.320000   88022000.0  36.368187
2017-09-29  38.532501  38.000000  38.302502  38.529999  105199200.0  36.567497

In [15]:
df['2020-04-13':'2020-04-16']

                 High        Low       Open      Close       Volume  Adj Close
Date
2020-04-13  68.425003  66.457497  67.077499  68.312500  131022800.0  67.194328
2020-04-14  72.062500  69.512497  70.000000  71.762497  194994800.0  70.587852
2020-04-15  71.582497  70.157501  70.599998  71.107498  131154400.0  69.943581
2020-04-16  72.050003  70.587502  71.845001  71.672501  157125200.0  70.499336

### 인덱서 : iloc, loc  (행과 열 모두 추출가능)  
- loc : 인덱스 라벨 값 기반으로 데이터 추출  
- iloc : 정수형 값으로 데이터 추출

In [16]:
df = pd.read_csv("AAPL.csv") # 데이터를 불러올때 별도의 인덱스를 설정하지 않을 경우
print(type(df.index))
print(type(df.index[0]))
df.head()

<class 'pandas.core.indexes.range.RangeIndex'>
<class 'int'>

,Date,High,Low,Open,Close,Volume,Adj Close
0,2017-09-27,38.680000,38.384998,38.450001,38.557499,102016800.0,36.593582
1,2017-09-28,38.570000,38.174999,38.472500,38.320000,88022000.0,36.368187
2,2017-09-29,38.532501,38.000000,38.302502,38.529999,105199200.0,36.567497
3,2017-10-02,38.612499,38.180000,38.564999,38.452499,74795200.0,36.493938
4,2017-10-03,38.772499,38.477501,38.502499,38.619999,64921200.0,36.652901

In [17]:
df = pd.read_csv("AAPL.csv", index_col="Date", parse_dates=["Date"]) # 데이터를 불러올때 별도의 인덱스를 설정하는 경우
print(type(df.index))
print(type(df.index[0]))
df.head()

<class 'pandas.core.indexes.datetimes.DatetimeIndex'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>

                 High        Low       Open      Close       Volume  Adj Close
Date
2017-09-27  38.680000  38.384998  38.450001  38.557499  102016800.0  36.593582
2017-09-28  38.570000  38.174999  38.472500  38.320000   88022000.0  36.368187
2017-09-29  38.532501  38.000000  38.302502  38.529999  105199200.0  36.567497
2017-10-02  38.612499  38.180000  38.564999  38.452499   74795200.0  36.493938
2017-10-03  38.772499  38.477501  38.502499  38.619999   64921200.0  36.652901

### loc을 이용한 인덱싱

In [18]:
df.loc['2017-09-28']

High         3.857000e+01
Low          3.817500e+01
Open         3.847250e+01
Close        3.832000e+01
Volume       8.802200e+07
Adj Close    3.636819e+01
Name: 2017-09-28 00:00:00, dtype: float64

iloc을 이용한 인덱싱

In [19]:
df.iloc[0]

High         3.868000e+01
Low          3.838500e+01
Open         3.845000e+01
Close        3.855750e+01
Volume       1.020168e+08
Adj Close    3.659358e+01
Name: 2017-09-27 00:00:00, dtype: float64

### loc을 이용한 행, 열 인덱싱 & 슬라이싱  
방법 : df.loc[행 인덱싱 값, 열 인덱싱 값]

In [20]:
df.loc['2018-10-10':'2018-10-20', ['Open', 'Low']]

                 Open        Low
Date
2018-10-10  56.365002  54.012501
2018-10-11  53.630001  53.080002
2018-10-12  55.105000  54.209999
2018-10-15  55.290001  54.317501
2018-10-16  54.732498  54.189999
2018-10-17  55.575001  54.834999
2018-10-18  54.465000  53.250000
2018-10-19  54.514999  54.357498

### iloc을 이용한 행, 열 인덱싱 & 슬라이싱
방법 : df.iloc[행 인덱싱(정수), 열 인덱싱(정수)]

In [21]:
df.iloc[200:210, [0,1,2,3]]

                 High        Low       Open      Close
Date
2018-07-16  48.162498  47.605000  47.880001  47.727501
2018-07-17  47.967499  47.299999  47.437500  47.862499
2018-07-18  47.950001  47.482498  47.945000  47.599998
2018-07-19  48.137501  47.422501  47.422501  47.970001
2018-07-20  48.107498  47.542500  47.945000  47.860001
2018-07-23  47.990002  47.389999  47.669998  47.902500
2018-07-24  48.415001  48.012501  48.112499  48.250000
2018-07-25  48.712502  48.107498  48.264999  48.705002
2018-07-26  48.990002  48.402500  48.652500  48.552502
2018-07-27  48.797501  47.525002  48.747501  47.744999

### 연, 월 형식으로만 전달해도 인덱싱 가능

In [22]:
df.loc['2018-10'].head() # 인덱스가 TImestamp 타입이기 때문에 가능 ('2018-Nov-1') 같은 형식도 가능하다

                 High        Low       Open      Close       Volume  Adj Close
Date
2018-10-01  57.355000  56.587502  56.987499  56.814999   94403200.0  54.736431
2018-10-02  57.500000  56.657501  56.812500  57.320000   99152800.0  55.222961
2018-10-03  58.367500  57.445000  57.512501  58.017502  114619200.0  55.894943
2018-10-04  58.087502  56.682499  57.695000  56.997501  128168000.0  54.912262
2018-10-05  57.102501  55.145000  56.990002  56.072498  134322000.0  54.021099

## 2.4 금융 데이터 분석에 유용한 Pandas 함수

### shift 함수
인덱스에 연결된 데이터를 일정 간격으로 이동시키는 함수

In [23]:
df['Close_lag1'] = df['Close'].shift() # option : period (default :1)
df

,High,Low,Open,Close,Volume,Adj Close,Close_lag1
Date,,,,,,,
2017-09-27,38.680000,38.384998,38.450001,38.557499,102016800.0,36.593582,NaN
2017-09-28,38.570000,38.174999,38.472500,38.320000,88022000.0,36.368187,38.557499
2017-09-29,38.532501,38.000000,38.302502,38.529999,105199200.0,36.567497,38.320000
2017-10-02,38.612499,38.180000,38.564999,38.452499,74795200.0,36.493938,38.529999
2017-10-03,38.772499,38.477501,38.502499,38.619999,64921200.0,36.652901,38.452499
...,...,...,...,...,...,...,...
2022-09-20,158.080002,153.080002,153.399994,156.899994,107689800.0,156.899994,154.479996
2022-09-21,158.740005,153.600006,157.339996,153.720001,101696800.0,153.720001,156.899994
2022-09-22,154.470001,150.910004,152.380005,152.740005,86652500.0,152.740005,153.720001
2022-09-23,151.470001,148.559998,151.190002,150.429993,95939200.0,150.429993,152.740005
2022-09-26,153.770096,149.699997,149.660004,150.770004,90116709.0,150.770004,150.429993

### pct_change() 함수
백분율 변화량 연산 : 수익률 계산할 때 사용

In [24]:
df['pct_change'] = df['Close'].pct_change() # option : period (default :1)
df

,High,Low,Open,Close,Volume,Adj Close,Close_lag1,pct_change
Date,,,,,,,,
2017-09-27,38.680000,38.384998,38.450001,38.557499,102016800.0,36.593582,NaN,NaN
2017-09-28,38.570000,38.174999,38.472500,38.320000,88022000.0,36.368187,38.557499,-0.006160
2017-09-29,38.532501,38.000000,38.302502,38.529999,105199200.0,36.567497,38.320000,0.005480
2017-10-02,38.612499,38.180000,38.564999,38.452499,74795200.0,36.493938,38.529999,-0.002011
2017-10-03,38.772499,38.477501,38.502499,38.619999,64921200.0,36.652901,38.452499,0.004356
...,...,...,...,...,...,...,...,...
2022-09-20,158.080002,153.080002,153.399994,156.899994,107689800.0,156.899994,154.479996,0.015665
2022-09-21,158.740005,153.600006,157.339996,153.720001,101696800.0,153.720001,156.899994,-0.020268
2022-09-22,154.470001,150.910004,152.380005,152.740005,86652500.0,152.740005,153.720001,-0.006375
2022-09-23,151.470001,148.559998,151.190002,150.429993,95939200.0,150.429993,152.740005,-0.015124
2022-09-26,153.770096,149.699997,149.660004,150.770004,90116709.0,150.770004,150.429993,0.002260

### diff() 함수
변화량 연산, 뺄셈을 연산하는 함수

In [25]:
df['Close_diff'] = df['Close'].diff() # option : period (default :1)
df.head()

,High,Low,Open,Close,Volume,Adj Close,Close_lag1,pct_change,Close_diff
Date,,,,,,,,,
2017-09-27,38.680000,38.384998,38.450001,38.557499,102016800.0,36.593582,NaN,NaN,NaN
2017-09-28,38.570000,38.174999,38.472500,38.320000,88022000.0,36.368187,38.557499,-0.006160,-0.237499
2017-09-29,38.532501,38.000000,38.302502,38.529999,105199200.0,36.567497,38.320000,0.005480,0.209999
2017-10-02,38.612499,38.180000,38.564999,38.452499,74795200.0,36.493938,38.529999,-0.002011,-0.077499
2017-10-03,38.772499,38.477501,38.502499,38.619999,64921200.0,36.652901,38.452499,0.004356,0.167500

### rolling() 함수
이동평균 계산을 위해 사용하는 함수 (smoothing 기법)

window 옵션을 통해 데이터의 평균값, 최소값, 최대값을 계산  
주식차트의 이동평균선, 지수 이동평균, 볼린저 밴드를 계산할때 유용

In [26]:
df['MA5'] = df['Close'].rolling(window = 5).mean()
df.head(10)

,High,Low,Open,Close,Volume,Adj Close,Close_lag1,pct_change,Close_diff,MA5
Date,,,,,,,,,,
2017-09-27,38.680000,38.384998,38.450001,38.557499,102016800.0,36.593582,NaN,NaN,NaN,NaN
2017-09-28,38.570000,38.174999,38.472500,38.320000,88022000.0,36.368187,38.557499,-0.006160,-0.237499,NaN
2017-09-29,38.532501,38.000000,38.302502,38.529999,105199200.0,36.567497,38.320000,0.005480,0.209999,NaN
2017-10-02,38.612499,38.180000,38.564999,38.452499,74795200.0,36.493938,38.529999,-0.002011,-0.077499,NaN
2017-10-03,38.772499,38.477501,38.502499,38.619999,64921200.0,36.652901,38.452499,0.004356,0.167500,38.495999
2017-10-04,38.465000,38.115002,38.407501,38.369999,80655200.0,36.415638,38.619999,-0.006473,-0.250000,38.458499
2017-10-05,38.860001,38.512501,38.544998,38.847500,85135200.0,36.868813,38.369999,0.012445,0.477501,38.563999
2017-10-06,38.872501,38.639999,38.742500,38.825001,69630400.0,36.847469,38.847500,-0.000579,-0.022499,38.623000
2017-10-09,39.182499,38.872501,38.952499,38.959999,65051600.0,36.975582,38.825001,0.003477,0.134998,38.724500
2017-10-10,39.500000,38.775002,39.014999,38.974998,62468000.0,36.989826,38.959999,0.000385,0.014999,38.795499

In [27]:
type(df['Close'].rolling(window=5))
# 타입이 rolling 클래스이기 때문에 rolling 클래스의 내장함수를 연속으로 사용할 수 있음 -> mean 같은 함수

pandas.core.window.rolling.Rolling

### resample() 함수
단위(시간) 를 바꿀 때 사용하는 함수  
month -> week, day -> month

In [29]:
index = pd.date_range(start = '2021-01-01', end = '2021-10-01', freq='B')    # freq = B 옵션은 영업일 기준(주말, 공휴일제외)
series = pd.Series(range(len(index)), index = index)
series

2021-01-01      0
2021-01-04      1
2021-01-05      2
2021-01-06      3
2021-01-07      4
             ...
2021-09-27    191
2021-09-28    192
2021-09-29    193
2021-09-30    194
2021-10-01    195
Freq: B, Length: 196, dtype: int64

In [30]:
series.resample(rule='M').sum()

2021-01-31     210
2021-02-28     610
2021-03-31    1196
2021-04-30    1639
2021-05-31    2016
2021-06-30    2585
2021-07-31    3069
2021-08-31    3553
2021-09-30    4037
2021-10-31     195
Freq: M, dtype: int64

- 매개변수 : rule -> 시간의 주기를 나타냄  
M : 월말 일자 기준으로 데이터 정리  
MS : 월초 일자 기준으로 데이터 정리  
- 추가 함수 : sum, first, last    
sum : 월별 합계  
first : 월초 일자 확인  
last : 월말 일자 확인

In [31]:
series.resample(rule='M').last()

2021-01-31     20
2021-02-28     40
2021-03-31     63
2021-04-30     85
2021-05-31    106
2021-06-30    128
2021-07-31    150
2021-08-31    172
2021-09-30    194
2021-10-31    195
Freq: M, dtype: int64

In [33]:
series.resample(rule='MS').first()

2021-01-01      0
2021-02-01     21
2021-03-01     41
2021-04-01     64
2021-05-01     86
2021-06-01    107
2021-07-01    129
2021-08-01    151
2021-09-01    173
2021-10-01    195
Freq: MS, dtype: int64

### rolling()과 resample()의 차이
- rolling : 시간 기반 윈도우 작업 수행 (제한된 범위 없이 윈도우 크기로 새로운 시점에 새로운 결과값을 계산)
- resample : 주기 기반 윈도우 작업 수행 (고정된 크기 내에서 최소값과 최대값 사이의 일정값을 보여줌)